{% extends "layouts/base-unsigned.html" %}

{% import "/includes/alert.html" as alert %}

{% block title %}{% trans %}Forgotten password{% endtrans %}{% endblock %} 

{% block content %}
<main class="container">
    <div class="form-signin w-100 m-auto d-flex justify-content-center">
        <form class="col-12 col-md-6" method="POST">        
            <h1 class="h3 mb-3 fw-normal">{% trans %}Forgotten password{% endtrans %}</h1>

        {{alert.flashed_alert()}}

        {% if not requested %}
        <div class="mb-3 alert alert-info" role="alert">
            {% trans %}Please specify your email address for password recovery!{% endtrans %}
        </div>
        
        <div class="col-12 mt-2">
            <label for="email" class="form-label">Email <span class="text-body-secondary"></span></label>
            <input type="email" class="form-control" id="email" placeholder="{% trans %}email@address.com{% endtrans %}" name="email" value="{{email}}">
            <div class="invalid-feedback">
                {% trans %}Please enter a valid email address.{% endtrans %}
            </div>
        </div>

        <button class="btn btn-primary mt-3 w-100 py-2 col-6 form-group" type="submit">{% trans %}Reset password{% endtrans %}</button>
        {% else %}
            {% if config['DIRECT_MESSAGING'] == 1 %}
        <div class="mb-3 alert alert-info" role="alert">
            {% trans %}New password requested! Check your email for further action!{% endtrans %}
        </div>
            {% else %}
        <div class="mb-3 alert alert-info" role="alert">
            {% trans %}New password requested! Please contact one of the admins for further action!{% endtrans %}
        </div>
            {% endif %}
        {% endif %}
        </form>
    </div>
</main>
{% endblock content %}
