{% extends "/layouts/base.html" %}

{% block title %} Profil-beállítások {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Profil</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">
                        
                        <div>Nickname/Username: {{g.user.username}}</div>
                        <div>Email: {{user_data.email}}</div>
                        <br>
                        <form class="form-horizontal form-material" method="POST">

                            <form class="form-horizontal form-material" method="POST" id="registerForm">
                                <div class="form-group">
                                    <label class="col-md-12" id="langDisplay">Language</label>
                                    <div class="col-md-12">
                                        <select type="text"
                                               class="form-control form-control-line"
                                               name="language"                                          
                                               id = "langSelect"                                           
                                               >
                                               <option value="hu" {% if user_data.language == 'hu'%} selected="selected" {% endif %}>Hungarian</option>
                                               <option value="en" {% if user_data.language == 'en'%} selected="selected" {% endif %}>English</option>
                                        </select>
                                    </div>
                                </div>

                            <div class="form-group" style="padding-left:1em;">
                                <label class="form-group">Match reminder emails (1 hour before the starting of the first match)</label>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reminder" id="exampleRadios1" value="0" {% if user_data.reminder == 0 %} checked {%endif%}>
                                    <label class="form-check-label" for="exampleRadios1">
                                        On those days when there is a match without a bet
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reminder" id="exampleRadios2" value="1" {% if user_data.reminder == 1 %} checked {%endif%}>
                                    <label class="form-check-label" for="exampleRadios2">
                                        Every matchday
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reminder" id="exampleRadios3" value="2" {% if user_data.reminder == 2 %} checked {%endif%}>
                                    <label class="form-check-label" for="exampleRadios3">
                                        I don't want to receive reminders
                                    </label>
                                </div>
                            </div>

                            <div class="form-group" style="padding-left:1em;">
                                <label class="form-group">Standing notification email at the end of matchdays</label>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="summary" id="summaryRadios2" value="1" {% if user_data.summary == 1 %} checked {%endif%}>
                                    <label class="form-check-label" for="summaryRadios2">
                                        Yes
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="summary" id="summaryRadios1" value="0" {% if user_data.summary == 0 %} checked {%endif%}>
                                    <label class="form-check-label" for="summaryRadios1">
                                        No
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success">Modify</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
