{% extends "/layouts/base.html" %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %} 

{% block content %}
<main class="container">
    <div class="form-signin w-100 m-auto d-flex justify-content-center">
        <form class="col-10 col-md-6" method="POST">
            <h1 class="h3 mb-3 fw-normal">{% trans %}Profile{% endtrans %}</h1>
    
{% include "auth/user-template.html" %}

{% include "auth/reminder-template.html" %}

            <button class="btn btn-primary w-100 mt-3 py-2 col-6 form-group" type="submit">{% trans %}Save{% endtrans %}</button>
        </form>
    </div>
</main>

{% endblock content %}