{% extends "/layouts/base-unsigned.html" %}

{% block title %} Regisztráció {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

   {% include "common/register-page.html" %}

{% endblock content %}

{% block javascripts %}
    <script src="/static/assets/js/language.js"></script>
    <script>
        languageSelect.value = "{{language}}";
        languageSelect.onchange();
    </script>
{% endblock javascripts %}
