<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
  <title>{% trans %}Betting Competition{% endtrans %} - {% block title %}{% endblock title %}</title>
  {% include "includes/header.html" %}

  {% block header %}{% endblock header %}

  </head>
  <body>
    {% include "/includes/theme-switcher.html" %}
  <main>
    <div class="container">
      <header class="py-3 mb-4 border-bottom">
        <div class="d-flex flex-wrap justify-content-between mb-3">
            <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><image xlink:href="/static/ball.svg" width="40" height="32"/></svg>
              <span class="fs-4 d-none d-sm-inline">{% trans %}Betting competition!{% endtrans %}</span>
              <span class="fs-6 d-sm-none">{% trans %}Betting competition!{% endtrans %}</span>
            </a>
      
            <div class="d-flex dropdown text-end align-items-center">
              <a class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                <img src="{{config['IDENT_URL'].format(email_hash=g.user['email_hash'])}}" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{g.user['username']}}</strong>
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="/profile">{% trans %}Profile{% endtrans %}</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/sign-out">{% trans %}Sign out{% endtrans %}</a></li>
              </ul>
            </div>
        </div>

        {% set active_nav = "class=\"nav-link active\" aria-current=\"page\"" %}
        {% set inactive_nav = "class=\"nav-link\"" %}        
        {% set unseen = comment_nr[g.user['username']] %}

        <ul class="nav nav-pills justify-content-center">
          <li class="nav-item"><a href="/" {{active_nav|safe if active_nav_index == 0 else inactive_nav|safe}}>{% trans %}Betting{% endtrans %}</a></li>
          <li class="nav-item"><a href="/previous-bets" {{ active_nav|safe if active_nav_index == 1 else inactive_nav|safe}}>{% trans %}Results{% endtrans %}</a></li>
          <li class="nav-item"><a href="/standings" {{active_nav|safe if active_nav_index == 2 else inactive_nav|safe}}>{% trans %}Standings{% endtrans %}</a></li>
          <li class="nav-item"><a href="/group-bet" {{active_nav|safe if active_nav_index == 3 else inactive_nav|safe}}>{% trans %}Group bet{% endtrans %}</a></li>
          <li class="nav-item"><a href="/chat" {{active_nav|safe if active_nav_index == 4 else inactive_nav|safe}}>{% trans %}Chat{% endtrans %}{{'<div class="ms-1 badge bg-info">{}</div>'.format(unseen)|safe if unseen}}</a></li>
          {% if g.user['admin'] %} <li class="nav-item"><a href="/admin" {{active_nav|safe if active_nav_index == 5 else inactive_nav|safe}}>{% trans %}Admin{% endtrans %}</a></li> {% endif %}
        </ul>

      </header>
    </div>

    {% block content %}{% endblock content %}
  </main>
    </body>
</html>