<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% trans %}Betting Competition{% endtrans %} - {% block title %}{% endblock title %}</title>
    {% include "includes/header.html" %}
</head>

<body>
    {% include "/includes/theme-switcher.html" %}
    <main>
        <div class="container">
            <header class="py-3 mb-4 border-bottom">
                <div class="d-flex flex-wrap justify-content-between">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><image xlink:href="/static/assets/ball.svg" width="40" height="32"/></svg>
                        <span class="fs-4">{% trans %}Betting competition!{% endtrans %}</span>
                    </a>
                </div>
            </header>

            {% block content %}{% endblock content %}
        </div>
    </main>
</body>
</html>