{% extends "layouts/base.html" %}

{% block title %} Csoportkör-fogadások {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <!--div class="col-md-7 col-4 align-self-center">
                <a target="_blank"
                   href="https://appseed.us"
                    class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down">
                    More Starters
                </a>
            </div-->
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <script src="https://sortablejs.github.io/Sortable/Sortable.js"></script>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">

                        <table style="width:100%;margin-left:20px;">
                            <tr>
                                <th rowspan="1" style="width: 34%;text-align:left;">Ország</th>
                                <th rowspan="1" style="width: 16%;text-align:center;">Top1</th>
                                <th rowspan="1" style="width: 16%;text-align:center;">Top2</th>
                                <th rowspan="1" style="width: 16%;text-align:center;">Top4</th>
                                <th rowspan="1" style="width: 16%;text-align:center;">Top16</th>
                            </tr>
                    
                            {% for team in teams %}
                            <tr style="padding-bottom:5px;">                            
                                <td style="text-align:left;">{{team.name}}</td>
                                <td style="text-align:center;">{{team.top1}}</td>
                                <td style="text-align:center;">{{team.top2}}</td>
                                <td style="text-align:center;">{{team.top4}}</td>
                                <td style="text-align:center;">{{team.top16}}</td>
                            </tr>
                            {% endfor %}
                        </table>

                        
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
