<h4>Kezdőtőke: {{starting_bet_amount}}</h4>

<div>
    <h4 style="display: inline-block;">Végeredmény-tipp:</h4>
    <h4 style="display: inline-block;">{{final_bet.local_name}} -  </h4>
    <h4 style="display: inline-block;" id="resultID">{{final_bet.result}} </h4>
    <a href="./final-odds">(Szorzó: {{final_bet.multiplier}})</a>
    <h4 style="display: inline-block; padding-left: 1.5em;">Tét: {{final_bet.betting_amount}}</h4>
    <h4 style="display: inline-block; padding-left: 1em;">Várható nyeremény: {{final_bet.betting_amount * final_bet.multiplier}}</h4>

    <br>
    <h4>Felhasználható összeg csoportkör tipp után: {{amount_after}}</h4>
</div>

<br>
<h4>Csoportkör-tippek:</h4>

{% for group in groups %}

{% if group.bets|length == 0 %}
    <h4 class="col-12">{{group.ID}}. csoport: A játékos nem fogadott a csoportra</h4>
{% else %}

<div id="sorting-disabled" class="row" style="width: 30em;padding-left: 1em;">
    <h4 class="col-12">{{group.ID}}. csoport: Tét - {{group.bet_property.amount}} tallér</h4>
    <div id="example4-left" class="list-group col" style="padding-left: 2em;">
        <div class="list-group-item" style="background-color: #b8b8b8;">Tipp</div>

        {% for i in range(4) %}
        <div class="list-group-item">{{i + 1}}. {{group.bets[i].local_name}}</div>
        {% endfor %}
    </div>
</div>
<br>
{% endif %}
{% endfor %}
