<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> <a class="waves-effect waves-dark" href="/" aria-expanded="false"><i
                            class="mdi mdi-soccer"></i><span class="hide-menu">Betting</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/previous-bets" aria-expanded="false"><i
                            class="mdi mdi-content-paste"></i><span class="hide-menu">Previous bets</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/group" aria-expanded="false"><i
                            class="mdi mdi-table"></i><span class="hide-menu">Group betting</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/standings" aria-expanded="false"><i
                            class="mdi mdi-chart-line"></i><span class="hide-menu">Standings</span></a>
                </li>
                {% if g.user.admin %}
                <li> <a class="waves-effect waves-dark" href="/admin" aria-expanded="false"><i
                            class="mdi mdi-account"></i><span class="hide-menu">Admin</span></a>
                {% endif %}
                </li>
                </li>
                <li> <a class="waves-effect waves-dark" href="/logout" aria-expanded="false"><i
                            class="mdi mdi-power"></i><span class="hide-menu">Sign-out</span></a>
                </li>
            </ul>
        </nav>
    </div>
</aside>

