 <div class="container ms-3 mt-3 mb-3">
@if (resetKeys.length > 0) {
    <div class="row mb-3 text-center">
        <div class="col-1 themed-grid-col0 d-flex align-items-center justify-content-center">#</div>
        <div class="col-2 themed-grid-col0 d-flex align-items-center justify-content-center" i18n="email">Email</div>
        <div class="col-2 themed-grid-col0 d-flex align-items-center justify-content-center" i18n="expiration">Expiration time</div>
        <div class="col-6 themed-grid-col0 d-flex align-items-center justify-content-center" i18b="key">Key</div>
    </div>
}
@else {
    <div class="row ms-2 mt-2 mb-2" i18n="noKey">
        No reset keys have been generated!
    </div>
}

@for (resetKey of resetKeys; track resetKey) {
    <div class="row mb-3 text-center">            
        <div class="col-1 themed-grid-col1 d-flex align-items-center justify-content-center">{{$index + 1}}</div>
        <div class="col-2 themed-grid-col1 d-flex align-items-center justify-content-center">{{resetKey.email}}</div>
        <div class="col-2 themed-grid-col1 d-flex align-items-center justify-content-center">{{resetKey.date}}</div>
        <div class="col-6 themed-grid-col1 d-flex align-items-center justify-content-center">/auth/reset-password?email={{resetKey.email}}&key={{resetKey.key}}</div>
    </div>
}
    
</div>