<h3>{% trans %}Dear {{username}},{% endtrans %}</h3>

<p>{% trans %}You have successfully registered for the betting competition!{% endtrans %}</p>

<h6>{% trans %}If you have any questions or you have found a bug then you can send them to this address or write to the chat plugin on the home page.{% endtrans %}</h6>
<h6>{% trans %}If you can't place your bet due to some server errors then send the bets to this address in time and specify the error phenomenon.{% endtrans %}</h6>

<h4>{% trans %}Best regards: The Tipmaster{% endtrans %}</h4>