<h3>{% trans %}Dear {{username}},{% endtrans %}</h3>

<p>{% trans %}At the end of {{date}}. the standings of the competition are the followings:{% endtrans %}</p>
    <table style="width:100%;margin-left:20px;">
        <tr>
            <th rowspan="1" style="width: 10%;text-align:left;">{% trans %}Position{% endtrans %}</th>
            <th rowspan="1" style="width: 22%;text-align:center;">{% trans %}Username{% endtrans %}</th>
            <th rowspan="1" style="width: 22%;text-align:center;">{% trans %}Score{% endtrans %}</th>
            <th rowspan="1" style="width: 23%;text-align:center;">{% trans %}Score change{% endtrans %}</th>
            <th rowspan="1" style="width: 23%;text-align:center;">{% trans %}Position change{% endtrans %}</th>
        </tr>
        {% for standing in standings %}
        <tr style="padding-bottom:5px;">                            
            <td style="text-align:left;">{{loop.index}}.</td>
            <td style="text-align:center;">{{standing.name}}</td>
            <td style="text-align:center;">{{standing.point|round(2)}}</td>                            
            <td style="text-align:center;">{{(standing.point - standing.previous_point)|round(2)}}</td>
            <td style="text-align:center;">{{standing.position_diff}}</td> 
        </tr>
        {% endfor %}
    </table>

<h4>{% trans %}Best regards: The Tipmaster{% endtrans %}</h4>