<div>Kezdőtőke csoportkörtipp után: {{start_amount}}</div>

{% for day in days %}
<!--div-->
    {%if loop.index % 10 == 1 %}

    <table style="width:90%;margin-left:20px;background-color: lightblue">
        <tr>
            <th rowspan="2" style="width: 5%;">ID</th>
            <th rowspan="2" style="width: 25%;text-align:center;">Csapatok</th>
            <th rowspan="2" style="width: 10%;text-align:center;">Végeredmény</th>
            <th rowspan="2" style="width: 15%;text-align:center;">Típus</th>
            <th scope="col" colspan="3" style="text-align:center;">Szorzók</th> 
            <th rowspan="2" style="width: 8%;text-align:center;">Tipp</th>
            <th rowspan="2" style="width: 8%;text-align:center;">Tét</th>
            <th rowspan="2" style="width: 8%;text-align:center;">Nyeremény + Bónusz</th>
            <th rowspan="2" style="width: 15%;text-align:center;">Új könyvelt egyenleg</th>
        </tr>

        <th style="text-align:center;width: 3%;">1</td>
        <th style="text-align:center;width: 3%;">X</td>
        <th style="text-align:center;width: 3%;">2</td>
    </table>   
    {% endif %}

    <div id="ID_{{day.number}}">
        {{day.number}}. nap: {{day.name}}
    </div>

    <table style="width:90%;margin-left:20px;">
        <tr>
            <th rowspan="2" style="width: 5%;"></th>
            <th rowspan="2" style="width: 25%;text-align:center;"></th>
            <th rowspan="2" style="width: 10%;text-align:center;"></th>
            <th rowspan="2" style="width: 15%;text-align:center;" ></th>
            <th scope="col" colspan="3" style="text-align:center;"></th> 
            <th rowspan="2" style="width: 8%;text-align:center;"></th>
            <th rowspan="2" style="width: 8%;text-align:center;"></th>
            <th rowspan="2" style="width: 8%;text-align:center;"></th>
            <th rowspan="2" style="width: 15%;text-align:center;"></th>
        </tr>

          <th style="text-align:center;width: 3%;"></td>
          <th style="text-align:center;width: 3%;"></td>
          <th style="text-align:center;width: 3%;"></td>

        {% for match in day.matches %}
        <tr style="padding-bottom:5px;">
            <td>{{match.ID}}</td>
            <td style="text-align:center;">{{match.team1}} - {{match.team2}}</td>
            <td style="text-align:center;">{{match.result1}} - {{match.result2}}</td>
            <td style="text-align:center;">{{match.type}}</td>
            <td style="text-align:center;">{{match.odd1}}</td>
            <td style="text-align:center;">{{match.oddX}}</td>
            <td style="text-align:center;">{{match.odd2}}</td>
            <td style="text-align:center;">{{match.goal1}}-{{match.goal2}}</td>
            <td style="text-align:center;">{{match.bet}}</td>
            <td style="text-align:center;">{{match.prize}} + {{match.bonus}}</td>
            <td style="text-align:center;">{{match.balance}}</th>
        </tr>

        <!--div style="padding-left:1em;position: relative;">
            <div style="display: inline-block;">{{match.team1}} - {{match.team2}} : {{match.result1}} - {{match.result2}}</div>
            <div style="display: inline-block; left: 300px;"></div>
        </div-->
        {% endfor %}
    </table>
    <br>

    {%if day.date == group_evaulation_date %}
    <div style="background-color: greenyellow;">
        <a href="group" style="display: inline-block;">Csoporttipp bónusz összeg: {{group_bonus}}</a>
        <div style="display: inline-block;">, új könyvelt egyenleg: {{new_balance}}</div>
    </div>
    {% endif %}

<!--/div-->
{% endfor %}