{% extends language + "/layouts/base.html" %}

{% block title %} Admin {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Admin</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block" style="display: flex; flex-direction: column;">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            {% if message == 'UPLOAD_OK' %}
                    <a style ="color:green;">Fájl sikeresen feltöltve!</a>
                    <br>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <a href="/admin/message">Főoldali üzenet</a>    
                    <a href="/admin/send-email">Email-küldése mindenkinek</a>
                    <a href="/admin/odd">Meccs-szorzók módosítása</a>
                    <br>
                    <a href="/admin/group-evaluation">Csoportkör-kiértékelés</a>
                    <a href="/admin/final-bet">Végsőtipp-kiértékelés</a>
                    <!--a href="/admin/upload-team-data">Csapatleíró fájl feltöltése</a-->
                       
                    <br>
                    <button type="button" id="fetchMatch"> Meccseredmény-adatbázis frissítése</button>
                    <a style ="color:green;" id="fetchResult"></a>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}

{% set update_success = 'Meccsadatbázis sikeresen frissítve!' %}
{% set update_failure = 'Meccsadatbázis frissítése sikertelen!' %}
{% set update_timeout = 'Időtúllépés miatt a meccsadatbázis frissítése sikertelen!' %}
{% set update_error = 'Hiba történt a szerverrel való kommunikációban.' %}
{% set update_in_progress = 'Szinkronizálás folyamatban...' %}

{% include "/common/admin_fetch.js" %}

{% endblock javascripts %}