{% extends language + "/layouts/base.html" %}

{% block title %} Admin / Végsőtipp {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Végsőtipp-kiértékelés</h3>
                <!--ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol-->
            </div>
            <!--div class="col-md-7 col-4 align-self-center">
                <a target="_blank"
                   href="https://appseed.us"
                    class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down">
                    More Starters
                </a>
            </div-->
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">
                        Itt lehet beállítani a végsőtippek sikerességét.

                        <form action="./final-bet" method="POST" id="finalForm" name="finalForm"></form>

                        {% for player in players %} 
                            <div>
                                <label for="{{player.name}}">{{player.name}} - {{player.team}} - </label>
                                <div style="display: inline-block;" id="result-{{loop.index}}">{{player.result}}</div>
                                <select name ="{{player.name}}" id="{{player.name}}" form="finalForm" selected =>
                                    <option value=""  {% if player.success is none %} selected {% endif %}>Nem eldőlt</option>
                                    <option value="1"  {% if player.success == 1 %} selected {% endif %}>Sikeres</option>
                                    <option value="0"  {% if player.success == 0 %} selected {% endif %}>Sikertelen</option>
                                </select>

                                </select>
                            </div>
                            
                        {% endfor %}

                            <input type="submit" value="Beküld" form="finalForm">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>

{% endblock content %}

{% block javascripts %}
<script type="module">
    var resultNamemap = {
        "0" : "Győztes",
        "1" : "Döntős",
        "2" : "Elődöntős",
        "3" : "Csoporkörön túl"
    }

    window.onload = function() {
        {% for i in players %} 
        document.getElementById("result-{{loop.index}}").innerText = resultNamemap[document.getElementById("result-{{loop.index}}").innerText];
        {% endfor %}                                
    }
</script>

{% endblock javascripts %}
