{% extends language + "/layouts/base.html" %}

{% block title %} Admin/Üzenetek beállítása {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Főoldali üzenet beállítása</h3>
                <!--ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol-->
            </div>
            <!--div class="col-md-7 col-4 align-self-center">
                <a target="_blank"
                   href="https://appseed.us"
                    class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down">
                    More Starters
                </a>
            </div-->
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">

                        {% if success_message is not none %}
                        <div style="color: green; font-weight: 500;">
                            Üzenetek sikeresen frissítve!
                        </div>
                        <br>
                        {% endif %}

                        Itt beállíthatod a főoldalon megjelenő üzenetekete!
                        <br>

                        <form action="/admin/message" method="POST" >
                            {% for message in messages %} 
                            <div>
                                <label for="{{message.id}}" style="vertical-align: top;">Üzenet {{loop.index}}:</label>

                                <textarea id="{{message.id}}" name="{{message.id}}" rows="4" cols="50">{{message.text}}</textarea>     
                            </div>                            

                            <br>

                            {% endfor %}

                            <button class="btn btn-success">Mentés</button>
                        </form>                         
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
