<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0" id="titleDisplay"></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <div class="card-block">

                    <form class="form-horizontal form-material" method="POST" id="registerForm">
                        <div class="form-group">
                            <label class="col-md-12" id="langDisplay"></label>
                            <div class="col-md-12">
                                <select type="text"
                                       class="form-control form-control-line"
                                       name="language"                                          
                                       id = "langSelect"                                           
                                       >
                                       <option value="hu" {% if language == 'hu'%} selected="selected" {% endif %}></option>
                                       <option value="en" {% if language == 'en'%} selected="selected" {% endif %}></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12" id="nickDisplay"></label>
                            <div class="col-md-12">
                                <input type="text"
                                       class="form-control form-control-line"
                                       name="username"
                                       {%if username %}
                                       value = "{{username}}"
                                       {% endif %}
                                       >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="example-email" class="col-md-12" id="emailDisplay"></label>
                            <div class="col-md-12">
                                <input type="email"
                                       class="form-control form-control-line" 
                                       name="email"
                                       id="email"
                                        {%if email %}
                                        value = "{{email}}"
                                        {% endif %}
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12" id="password1Diplay"></label>
                            <div class="col-md-12">
                                <input type="password"
                                        name="password"
                                        class="form-control form-control-line"
                                        {%if password %}
                                        value = "{{password}}"
                                        {% endif %}>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12" id="password2Diplay"></label>
                            <div class="col-md-12">
                                <input type="password"
                                        name="password_repeat"
                                        {%if password_repeat %}
                                        value = "{{password_repeat}}"
                                        {% endif %}
                                        class="form-control form-control-line">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12" id="invitationDisplay"></label>
                            <div class="col-md-12">
                                <input type="text"
                                        name="key"
                                        class="form-control form-control-line"
                                        {%if key %}
                                        value = "{{key}}"
                                        {% endif %}>
                            </div>
                        </div>

                        <div class="form-group" style="padding-left:1em;">
                            <label class="form-group" id="matchReminderDisplay"></label>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="reminder" id="exampleRadios1" value="0" {% if reminder == 0 %} checked {%endif%}>
                                <label class="form-check-label" for="exampleRadios1" id="reminder1Display">
                                    
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="reminder" id="exampleRadios2" value="1" {% if reminder == 1 %} checked {%endif%}>
                                <label class="form-check-label" for="exampleRadios2" id="reminder2Display">
                                    
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="reminder" id="exampleRadios3" value="2" {% if reminder == 2 %} checked {%endif%}>
                                <label class="form-check-label" for="exampleRadios3" id="reminder3Display">
                                    
                                </label>
                            </div>
                        </div>

                        <div class="form-group" style="padding-left:1em;">
                            <label class="form-group" id="standingsDisplay"></label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="summary" id="summaryRadios2" value="1" {% if summary == 1 %} checked {%endif%}>
                                <label class="form-check-label" for="summaryRadios2" id="standing1Display">
                                    
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="summary" id="summaryRadios1" value="0" {% if summary == 0 %} checked {%endif%}>
                                <label class="form-check-label" for="summaryRadios1" id="standing2Display">
                                    
                                </label>
                            </div>
                        </div>
                        
                        <div style="padding-left:1em; color:red;">
                            {% include "/auth/register-messages.html" %}
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-success" id="registerButton"></button> &nbsp;&nbsp;&nbsp; <a id="haveAccount"></a> <a href="/login" id="signIn"></a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>