<main>
<div class="container">
    <header class="py-3 mb-4 border-bottom">
    <div class="d-flex flex-wrap justify-content-between mb-3">
        <a [routerLink]="'/'" class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><image xlink:href="/ball.svg" width="40" height="32"/></svg>
            <span class="fs-4 d-none d-sm-inline" i18n="game_name">Betting competition!</span>
            <span class="fs-6 d-sm-none" i18n="game_name">Betting competition!</span>
        </a>

        <div ngbDropdown class="d-flex text-end align-items-center">
            <button ngbDropdownToggle class="d-block link-body-emphasis text-decoration-none btn btn-link p-0 border-0">
                <img [src]="user.hash" alt="" width="32" height="32" class="rounded-circle me-2"/>
                <strong>{{ user.username }}</strong>
            </button>

            <ul ngbDropdownMenu class="dropdown-menu text-small">
                <li>
                    <a class="dropdown-item" routerLink="/profile" i18n="profile">
                        Profile
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider"/></li>
                <li>
                    <a class="dropdown-item" routerLink="/sign-out" i18n="sign_out">
                        Sign out
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <ul class="nav nav-pills justify-content-center">
        @for (route of routes; track route;) {
            <li class="nav-item"><a [routerLink]="route.path"
                                    [class]="route.path == currentLocation ? 'nav-link active' : 'nav-link'"
                                    [attr.aria-current]="route.path == currentLocation ? 'page' : null">{{route.title}}</a></li>    
        }
    </ul>

    </header>
</div>

@for (alert of alerts; track alert) {
    <div class ="container">
        <ngb-alert [type]="alert.type" (closed)="close(alert)">
            <markdown [data]="alert.message"></markdown>
        </ngb-alert>
    </div>	
}

<router-outlet></router-outlet>

</main>