{% extends language + "/layouts/base.html" %}

{% block title %} Csoportkör-tippek {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Csoportkör-fogadások</h3>
            </div>
        </div>
        <script src="https://sortablejs.github.io/Sortable/Sortable.js"></script>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">
                        <div>Kezdőtőke: {{start_amount}}</div>

                        <div>
                            <div style="display: inline-block;"> Végeredmény-tipp :</div>

                            <select name="teamSelect" id="teamSelect" style="display: inline-block;"> </select>
                            <select name="resultSelect" id="resultSelect" style="display: inline-block;"> </select>
                            <label for="finalResultOdd" style="padding-left: 1em;">Szorzó: </label>
                            <div id="finalResultOdd" style="display: inline-block;"></div>
                            <a href="./final-odds">(táblázatos forma)</a>

                            <label for="finalResultBet" style="padding-left: 1em;">Tét: </label>
                            <input id="finalResultBet" style="display: inline-block;" type="number" min="0" max="200" size="3" value="{{final_bet.betting_amount}}">

                            <label for="expectedWinAmount" style="padding-left: 1em;"> Várható nyeremény: </label>
                            <div style="display: inline-block;" id="expectedWinAmount"> </div>
                        </div>                        
                        
                        <div>Vonszolással állítsd be a csoportok sorrendjét!</div>
                        {% for group in groups %}
                            <div id="{{group.ID}}" class="row" style="width: 26em;">
                                <h4 class="col-12" style="display:inline;">{{group.ID}}. csoport</h4>

                                <div id="example4-left" class="list-group col" style="padding-left: 1em; width: 1px;">
                                    <!--div class="list-group-item" style="background-color: #b8b8b8;">Végeredmény</div-->
                                    <div class="list-group-item" style="width: 3em">1.</div>
                                    <div class="list-group-item" style="width: 3em">2.</div>
                                    <div class="list-group-item" style="width: 3em">3.</div>
                                    <div class="list-group-item" style="width: 3em">4.</div>
                                </div>

                                <div id="list-{{group.ID}}" class="list-group col" style="padding-left: 2em; width: 25em;">
                                    {% if group.bets|length > 0 %}
                                    {% for team in group.bets %}
                                        <div class="list-group-item" style="width: 20em;" data-id ="{{team.team}}">{{team.local_name}}</div>
                                    {% endfor %}
                                    {% else %}
                                    {% for team in group.teams %}
                                        <div class="list-group-item" style="width: 20em;" data-id ="{{team.name}}">{{team.local_name}}</div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div> 

                            <label for="bet-{{group.ID}}" style="padding-left: 3em; padding-top: 1em;">Tét: </label>
                            <input type="number" size="3" value="{{group.bet_property.amount}}" id="bet-{{group.ID}}" name="bet-{{group.ID}}" min=0 max={{max_group_bet_value}} oninput="calculateRemainingBetAmount()">
                            <br>
                        {% endfor %}

                        <div>
                            <div style="display: inline-block;">Fennmaradő tőke: </div>
                            <div style="display: inline-block;" id="remainingAmount">0 tallér</div>
                        </div>

                        <div style="padding-left:1em; color:red;" id="errorMessage">
                            
                        </div>

                        <button type="button" id="sendButton"> Beküld</button> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {% set champion = 'Bajnok' %}
    {% set finalist = 'Döntős' %}
    {% set semi_final = 'Elődöntős' %}
    {% set knockout = 'Csoportkörön-túl' %}

    {% set final_team = 'A végső tippnél megadott csapat nem létezik.' %}
    {% set final_result = 'Hibás végsőtipp eredmény.' %}
    {% set final_bet_message = 'Hibás végsőtipp fogadási mennyiség.' %}
    {% set group_bet = 'Hibás fogadási mennyiség a csoportkörtippnél.' %}
    {% set group_id = 'Hibás csoport azonosító' %}
    {% set group_team = 'Hibás csapatnév a csoportkörnél.' %}
    
    {% set bet_unit = 'tallér' %}
    {% set communication_error = 'Hiba történt a szerverrel való kommunikációban.' %}

    {% include "/common/group_edit.js" %}

{% endblock javascripts %}
