{% extends "/layouts/base.html" %}

{% block title %} Admin/Odd-szerkesztés {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Match odd modification</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">
                        The odds of the matches can be modified here.

                        <table style="width:90%;margin-left:20px;">
                            <tr>
                                <th rowspan="2" style="width: 5%;">ID</th>
                                <th rowspan="2" style="width: 15%;">Date</th>
                                <th rowspan="2" style="width: 25%;text-align:center;">Teams</th>
                                <th rowspan="2" style="width: 10%;text-align:center;" ></th>
                                <th rowspan="2" style="width: 15%;text-align:center;" >Max bet credit</th>
                                <th scope="col" colspan="3" style="text-align:center;"></th> 
                                <th rowspan="2" style="width: 8%;text-align:center;"></th>
                            </tr>

                            <th style="text-align:center;width: 3%;">1</td>
                            <th style="text-align:center;width: 3%;">X</td>
                            <th style="text-align:center;width: 3%;">2</td>

                            {% for match in matches %}
                            
                            {% set background = 'white' %}

                            {% if loop.index %2 == 1 %}
                                {% set background = '#E8E8E8' %}
                            {% endif %}

                            <tr style="padding-bottom:5px;background-color:{{background}};">
                                <td>{{match.id}}</td>
                                <td>{{match.time}}</td>
                                <td style="text-align:center;">{{match.team1}} - {{match.team2}}</td>
                                <td style="text-align:center;">{{match.type}}</td>
                                <td style="text-align:center;">{{match.max_bet}}</td>
                                <td style="text-align:center;">{{match.odd1}}</td>
                                <td style="text-align:center;">{{match.oddX}}</td>
                                <td style="text-align:center;">{{match.odd2}}</td>
                                <td><button class="editbtn" value="{{match.id}}" onclick="redirectToEdit(this.value)">Edit</button></td>
                            </tr>

                            {% endfor %}
                        </table>
                        
                        <script>
                            function redirectToEdit(buttonID) {
                                window.location = "./odd/edit?matchID=" + buttonID;
                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
