{% extends "layouts/base.html" %}

{% block title %} Korábbi fogadások {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <!--div class="col-md-7 col-4 align-self-center">
                <a target="_blank"
                   href="https://appseed.us"
                    class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down">
                    More Starters
                </a>
            </div-->
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">
                        {% if send_success is not none %}
                        
                            {% if send_success is true %}
                        <div style="color: green; font-weight: 500;">
                            E-mail elküldése sikeres volt.
                            {% else %}
                            <div style="color: red; font-weight: 500;">
                            E-mail elküldése sikertelen. {%if note is not none %} {% if note == 'short' %} Túl rövid üzenet. {% endif %} {% endif %}
                            {% endif %}
                        </div>
                        
                        {% endif %}

                        Az alábbi mezőt kitöltve emailt tudsz küldeni a játékban résztvevőknek.
                        <br>
                        <br>

                        <form action="/admin/send-email" method="POST" >
                            
                            <div>
                                <label for="email" style="vertical-align: top;">Küldendő üzenet:</label>
                                <textarea id="email" name="email" rows="4" cols="50"></textarea>     
                            </div>                            

                            <br>

                            <button class="btn btn-success">Küldés</button>
                        </form>                         

                        
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
