{% extends "hu/layouts/base-unsigned.html" %}

{% block title %} Bejelentkezés {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Bejelentkezés</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-block">

                        <form class="form-horizontal form-material" method="POST">
                        
                            <div class="form-group">
                                <label class="col-md-12">Felhasználónév</label>
                                <div class="col-md-12">
                                    <input type="text"
                                            name="username"
                                            class="form-control form-control-line"
                                            {% if username_form %}
                                            value="{{username_form}}"
                                            {% endif %}
                                    >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">Jelszó</label>
                                <div class="col-md-12">
                                    <input type="password"
                                            name="password"
                                            class="form-control form-control-line">
                                </div>
                            </div>

                            <div style="padding-left:1em; color:red;">
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                    {% if message == 'username_invalid' %}
                                        Felhasználónév nem létezik.
                                    {% elif message == 'password_invalid' %}
                                        Hibás jelszó.
                                    {% endif %} 
                                    {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success">Bejelentkezés</button> &nbsp;&nbsp; Nincs még fiókod? <a href="/register">Regisztráció</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
