{% extends language + "/layouts/base.html" %}

{% block title %} Profil-beállítások {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Profil</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">
                        
                        <div>Becenév/Felhasználónév: {{g.user.username}}</div>
                        <div>Név: {{name}}</div>
                        <div>Email: {{email}}</div>
                        <br>
                        <form class="form-horizontal form-material" method="POST">

                            <form class="form-horizontal form-material" method="POST" id="registerForm">
                                <div class="form-group">
                                    <label class="col-md-12" id="langDisplay">Nyelv</label>
                                    <div class="col-md-12">
                                        <select type="text"
                                               class="form-control form-control-line"
                                               name="language"                                          
                                               id = "langSelect"                                           
                                               >
                                               <option value="hu" {% if language == 'hu'%} selected="selected" {% endif %}>Magyar</option>
                                               <option value="en" {% if language == 'en'%} selected="selected" {% endif %}>Angol</option>
                                        </select>
                                    </div>
                                </div>

                            <div class="form-group" style="padding-left:1em;">
                                <label class="form-group">Meccsemlékeztetők emailben (a nap első meccsének kezdése előtt egy órával)</label>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reminder" id="exampleRadios1" value="0" {% if reminder == 0 %} checked {%endif%}>
                                    <label class="form-check-label" for="exampleRadios1">
                                        Azokon a meccsnapokon amelyiken van olyan meccs, amelyiknél nem lett megrakva tét
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reminder" id="exampleRadios2" value="1" {% if reminder == 1 %} checked {%endif%}>
                                    <label class="form-check-label" for="exampleRadios2">
                                        Minden meccsnap
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reminder" id="exampleRadios3" value="2" {% if reminder == 2 %} checked {%endif%}>
                                    <label class="form-check-label" for="exampleRadios3">
                                        Nem kérek emlékeztetőt
                                    </label>
                                </div>
                            </div>

                            <div class="form-group" style="padding-left:1em;">
                                <label class="form-group">Állásközlő email nap végén: </label>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="summary" id="summaryRadios2" value="1" {% if summary == 1 %} checked {%endif%}>
                                    <label class="form-check-label" for="summaryRadios2">
                                        Kérek
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="summary" id="summaryRadios1" value="0" {% if summary == 0 %} checked {%endif%}>
                                    <label class="form-check-label" for="summaryRadios1">
                                        Nem kérek
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success">Módosít</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
