{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {% if message == 'username_null' %}
                Felhasználónév/Becenév megadása kötelező.
            {% elif message == 'username_short' %}
                A választott becenév túl rövid. (Min. 3 karakter.)
            {% elif message == 'username_long' %} 
                A választott becenév túl hosszú. (Max 20 karakter.)
            {% elif message == 'name_null' %}
                A név megadás kötelező.
            {% elif message == 'name_short' %}
                A megadott név túl rövid. 
            {% elif message == 'email_null' %}
                E-mail cím megadása kötelező.
            {% elif message == 'password_null' %}
                Nem lett jelszó megadva.
            {% elif message == 'password_short' %}
                A jelszó rövid, minimum 8 karakter.
            {% elif message == 'password_differ' %}
                A két jelszó nem egyezik meg.
            {% elif message == 'invalid_invitation' %}
                A meghívó nem érvényes.
            {% elif message == 'username_taken' %}
                A megadott felhasználónév már regisztrálva van.
            {% elif message == 'email_taken' %}
                A megadott email-cím már regisztrálva van.
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}