{% extends language + "/layouts/base.html" %}

{% block title %} Korábbi fogadások {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Korábbi fogadások</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">
                        
                        <select name="players" id="players">
                            {% for player in players %}
                            <option value="{{player["username"]}}" {% if player["username"] == g.user.username %} selected="selected" {% endif %}>{{player["username"]}}</option>
                            {% endfor %}
                        </select>

                        <div id="resultNode">
                            Betöltés folyamatban...
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}

{% set load_in_progress = 'Betöltés folyamatban...' %}
{% set load_timeout = 'Megszakadt a kapcsolat a kiszolgálóval!' %}

{% include "common/previous_bets.js" %}

{% endblock javascripts %}
