{% import "/group-bet/tournament-bet.html" as tournament_bet_template %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <h5 class="mt-5">{% trans %}Starting credit amount{% endtrans %}: {{starting_bet_amount}}</h5>
            <h5 class="mb-5">{% trans %}Remaining after bet{% endtrans %}: {{amount_after}}</h5>            

            {{tournament_bet_template.tournament_bet(tournament_bet)}}

            <div class="row mt-3">
                <div class="col">
                    <h4 class="">{% trans %}Group bet{% endtrans %}:</h4>
                </div>
            </div>

            {{tournament_bet_template.group_multipliers()}}

            <div class="ms-3">
                {% for group_id, group in groups.items() %}    
                <div class="row d-flex justify-content-center">
                    <h5 class="row col-12 justify-content-left">{% trans %}Group{% endtrans %} - {{group_id}}</h5>
                    <div class="row mb-3 d-flex justify-content-start" id="{{group_id}}" name="sortableGroup" value="{{group_id}}">
                        <div class="list-group col-1 ms-3">
                            <div class="list-group-item bg-secondary d-flex justify-content-center">P</div>
                        {% for team in group.teams %}
                            <div class="list-group-item d-flex justify-content-center">{{loop.index}}.</div>
                        {% endfor %}
                        </div>

                        <div class="list-group col-8 col-md-6 ms-3">
                            <div class="list-group-item bg-secondary">{% trans %}Tip{% endtrans %}</div>
                            <div value="{{group_id}}" id="sortableOrder">
                                {% for team in group.teams %}
                                <div class="list-group-item" data-id ="{{team.bname}}">{{team.blocal_name|d('-', true)}}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-5 col-md-4 mt-2">
                            <div class="row">
                                <label class="col-4 col-md-3">{% trans %}Bet{% endtrans %}: </label>
                                <p class="col-8 col-md-3 d-flex align-items-center" min=0 max="">{{group.bet}}</p>
                            </div>
                        </div>            
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>        
    </div>
</div>
