{% import '/includes/tournament-bet-result.html' as tournament_bet_result %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <div class="container">
                <div class="row mb-3">
                    <h5 class="mt-5">{% trans %}Starting credit amount{% endtrans %}: {{starting_bet_amount}}</h5>
                    <h5 class="mb-5">{% trans %}Remaining after bet{% endtrans %}: {{amount_after}}</h5>
            
                    {% include "group-bet/tournament-bet.html" %}
                </div>
            </div>

            {% for group_id, group in groups.items() %}    
            <div class="row d-flex justify-content-center">
                <h4 class="row col-12 justify-content-left">{% trans %}Group{% endtrans %} - {{group_id}}</h4>
                <div class="row mb-3 d-flex justify-content-start" id="{{group_id}}" name="sortableGroup" value="{{group_id}}">
                    <div class="list-group col-1 ms-3">
                        <div class="list-group-item bg-secondary d-flex justify-content-center">P</div>
                    {% for team in group.teams %}
                        <div class="list-group-item d-flex justify-content-center">{{loop.index}}.</div>
                    {% endfor %}
                    </div>

                    <div class="list-group col-8 col-md-6 ms-3">
                        <div class="list-group-item bg-secondary">{% trans %}Tip{% endtrans %}</div>
                        <div value="{{group_id}}" id="sortableOrder">
                            {% for team in group.teams %}
                            <div class="list-group-item" data-id ="{{team.name}}">{{team.local_name}}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-5 col-md-4 mt-2">
                        <div class="row">
                            <label class="col-4 col-md-3">{% trans %}Bet{% endtrans %}: </label>
                            <!--input class="col-8 col-md-3 form-control-sm d-flex align-items-center" type="number" value="{{group.bet}}" id="sortableCredit" min=0 max=""-->
                            <p class="col-8 col-md-3 d-flex align-items-center" min=0 max=""-->{{group.bet}}</p>
                        </div>
                    </div>            
                </div>
            </div>
            {% endfor %}
        </div>        
    </div>
</div>
