{% import '/includes/tournament-bet-result.html' as tournament_bet_result %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <div class="container">
                <div class="row mb-3">
                    <h5 class="mt-5">Starting credit amount: {{starting_bet_amount}}</h5>
                    <h5 class="">Total group + tournament bet amount: {{total_bet}}</h5>
                    <h5 class="">Remaining after group + tournament bet: {{amount_after}}</h5>        
                    <h5 class="mb-5">Total group win amount: {{total_win}}</h5>
            
                    <div class="row">
                        <h4 class="col-7 col-md-6 d-flex align-items-center">{% trans %}Tournament-bet: {% endtrans %}</h4>
                        <!--div class="col-1 spinner-border d-flex align-items-center" role="status" id="tournamentSpinner">
                            <span class="visually-hidden">Loading...</span>
                        </div-->
                    </div>
            
                    <div class="row d-flex align-items-center">
                        <label class="col-4 col-md-4 ms-3" for="teamSelector">Team: </label>
                        <div class="col-5 col-md-4 d-flex align-items-center">{{tournament_bet.team}}</div>
                    </div>
            
                    <div class="row mt-3 d-flex align-items-center">
                        <label class="col-4 col-md-4 ms-3" for="resultSelector">Result: </label>
                        <div class="col-5 col-md-4 d-flex align-items-center">
                            {{tournament_bet_result.name_map[tournament_bet.result]}}
                        </div>
                    </div>
            
                    <div class="row mt-3 d-flex align-items-center">
                        <p class="col-4 col-md-4 ms-3">Odd: </p>
                        <p class="col-4 col-md-2 ms-2 badge bg-info">{{tournament_bet.multiplier}}</p>
                    </div>
            
                    <div class="row d-flex align-items-center">
                        <p class="col-4 col-md-4 ms-3" for="tournamentBetCredit">Bet: </p>
                        <p class="col-4 col-md-2 ms-2 badge bg-info">{{tournament_bet.bet}}</p>
                    </div>
                    
                    <div class="row d-flex align-items-center">
                        <p class="col-4 col-md-4 ms-3">{% if tournament_bet.success is none %}{% trans %}Expected prize{% endtrans %}:{% else %}{% trans %}Prize{% endtrans %}:{% endif %}</p>            
                        <p class="col-4 col-md-2 ms-2 badge bg-{% if tournament_bet.success == 1 %}success{% elif tournament_bet.success == 0 %}danger{% else %}warning{% endif %}">{% if tournament_bet.success is none %}{{tournament_bet.expected_prize}}{% else %}{{tournament_bet.prize}}{% endif %}</p>
                    </div>
            </div>

            {% for group_id, group in groups.items() %}    
            <div class="row d-flex justify-content-center">
                <h4 class="row col-12 justify-content-left">Group - {{group_id}}</h4>

                <div class="row ms-2">
                    <div class="col-5 col-md-4">Hits: {{group.hit_number}}  ({{group.multiplier}}×)</div>
                </div>
                
                <div class="row ms-2 mb-1">
                    <div class="col-3 col-md-3">
                        Bet: {{group.bet}} 
                    </div>
                    <div class="col-3 col-md-3">
                        Prize: {{group.prize}}
                    </div>           
                    <div class="col-5 col-md-3">
                        Difference: {{group.prize - group.bet}}
                    </div>
                </div>

                <div class="row mb-3 d-flex justify-content-start" id="{{group_id}}" name="sortableGroup" value="{{group_id}}">
                    <div class="list-group col-1 ms-3 d-none d-sm-block">
                        <div class="list-group-item bg-secondary d-flex justify-content-center">P</div>
                    {% for team in group.teams %}
                        <div class="list-group-item d-flex justify-content-center">{{loop.index}}.</div>
                    {% endfor %}
                    </div>

                    <div class="list-group col-5 col-md-4 ms-3">
                        <div class="list-group-item bg-secondary">Result</div>
                        {% for team in group.teams %}
                            <div class="list-group-item">{{team.rlocal_name}}</div>
                        {% endfor %}
                    </div>
        
                    <div class="list-group col-5 col-md-4 ms-3">
                        <div class="list-group-item bg-secondary">Tip</div>
                        {% for team in group.teams %}
                            <div class="list-group-item bg-{% if team.local_name == team.rlocal_name %}success{% else %}danger{% endif %}">{{team.  local_name}}</div>
                        {% endfor %}
                    </div>   
                </div>
            </div>
            {% endfor %}
        </div>        
    </div>
</div>