{% extends "/layouts/base.html" %}

{% import '/includes/tournament-bet-result.html' as tournament_bet_result %}
{% import "/includes/alert.html" as alert %}

{% block title%}{% trans %}Group bet{% endtrans %}{% endblock %}

{% set active_nav_index = 3 %}

{% block content %}


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col">
                    <h5 class="">{% trans %}Starting credit amount{% endtrans %}: {{bet_values.starting_bet_amount}}</h5>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <h5 class="">{% trans %}Tournament-bet{% endtrans %}:</h5>
                </div>
            </div>
            
            <div class="row d-flex justify-content-start align-items-center">
                <label class="col-5 col-md-3 ms-3" for="teamSelector">{% trans %}Team{% endtrans %}: </label>
                <div class="col-5 col-md-4 d-flex align-items-center">
                    <select class="form-select" aria-label="Team selector" id="teamSelector" data-user-team="{{tournament_bet.team}}">
                    </select>
                </div>
            </div>

            <div class="row d-flex justify-content-start mt-3 d-flex align-items-center">
                <label class="col-5 col-md-3 ms-3" for="resultSelector">{% trans %}Result{% endtrans %}: </label>
                <div class="col-5 col-md-4 d-flex align-items-center">
                    <select class="form-select" aria-label="Result selector" id="resultSelector">
                        {% for result in tournament_bet_result.name_map %}
                        <option value="{{loop.index0}}" {% if tournament_bet.result == loop.index0 %}selected="selected"{% endif %}>{{result}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row d-flex justify-content-start mt-3 d-flex align-items-center">
                <div class="col-5 col-md-3 ms-3">
                    <button type="button" class=" btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tabularModal">{% trans %}Odd{% endtrans %}:</button>
                </div>                    
                <div class="col-5 col-md-4 d-flex">
                    <p class="col-4 col-md-3 ms-2 badge bg-info" id="tournamentBetOdd"></p>
                </div>
            </div>

            <div class="row mt-2 d-flex justify-content-start align-items-center">
                <label class="col-5 col-md-3 ms-3" for="tournamentBetCredit">{% trans %}Bet{% endtrans %}: </label>
                <input class="col-2 col-md-2 ms-3" type="number" value={{tournament_bet.bet}} id="tournamentBetCredit" min=0 max={{bet_values.max_tournament_bet_value}}>
                <div class="col-2">/&nbsp;{{bet_values.max_tournament_bet_value}}</div>
            </div>
    
            <div class="row d-flex justify-content-start mt-3 d-flex align-items-center">
                <p class="col-5 col-md-3 ms-3">{% trans %}Expected prize{% endtrans %}: </p>
                <div class="col-5 col-md-4 d-flex">
                    <p class="col-4 col-md-3 ms-2 badge bg-info" id="tournamentExpectedPrize" data-start-credit="{{bet_values.starting_bet_amount}}"></p>
                </div>  
            </div>

            <h4 class="row mt-5 mb-2 d-flex justify-content-left">{% trans %}Set the order of the groups by dragging!{% endtrans %}</h4>
            {% for group_id, group in groups.items() %}    
            <div class="row d-flex justify-content-center">
                <h4 class="row col-12 justify-content-left">{% trans %}Group{% endtrans %} - {{group_id}}</h4>
                <div class="row mb-3 d-flex justify-content-start" id="{{group_id}}" name="sortableGroup" value="{{group_id}}">
                    <div class="list-group col-1 ms-3">
                        <div class="list-group-item bg-secondary d-flex justify-content-center">P</div>
                    {% for team in group.teams %}
                        <div class="list-group-item d-flex justify-content-center">{{loop.index}}.</div>
                    {% endfor %}
                    </div>

                    <div class="list-group col-8 col-md-6 ms-3">
                        <div class="list-group-item bg-secondary">{% trans %}Tip{% endtrans %}</div>
                        <div value="{{group_id}}" id="sortableOrder">
                            {% for team in group.teams %}
                            <div class="list-group-item" data-id ="{{team.bname}}">{{team.blocal_name}}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-5 col-md-4 mt-2">
                        <div class="row">
                            <label class="col-4 col-md-3" for="sortableCredit">{% trans %}Bet{% endtrans %}: </label>
                            <input class="col-6 col-md-3 form-control-sm d-flex align-items-center" type="number" value="{{group.bet}}" id="sortableCredit" min=0 max={{bet_values.max_group_bet_value}}>
                            <div class="col-2 form-control-sm d-flex align-items-center">/&nbsp;{{bet_values.max_group_bet_value}}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="row mt-5">
                <p class="col-6 col-md-3">{% trans %}Remaining credit{% endtrans %}:</p>
                <p class="col-2 col-md-1 badge bg-info align-items-center justify-content-center" id="remainingCredit"></p>
            </div>
    
            {{alert.alert_template(['alert-danger', 'alert-dismissible'], gettext('Failure!'))}}
            <div id="alertNode"></div>
            <div class="d-none" id="connectionError">{% trans %}An error occured while communicating with the server!{% endtrans %}</div>
            <div class="d-none" id="internalError">{% trans %}An internal server error occured!{% endtrans %}</div>
    
            <button class="btn btn-primary btn-sm mt-3 mb-5" type="button" id="sendButton">{% trans %}Send{% endtrans %}</button> 
        </div>        
    </div>
</div>

<div class="modal fade" id="tabularModal" ata-bs-backdrop="static"d data-bs-keyboard="false" tabi   ndex="-1" aria-labelledby="tabularLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 ms-2" id="tabularLabel">{% trans %}Tournament bet odds{% endtrans %}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalBody">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">{% trans %}Team{% endtrans %}</th>
                    {% for result_name in tournament_bet_result.name_map %}
                    <th scope="col">{{result_name}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody id="oddBody">
                    <template id="teamTemplate">
                        <tr>
                            <th scope="row" id="team">1</th>
                            <td id="t1"></td>
                            <td id="t2"></td>
                            <td id="t4"></td>
                            <td id="t8"></td>
                        </tr>
                    </template>
                </tbody>
              </table>
        </div>
      </div>
    </div>
</div>

<script src="https://sortablejs.github.io/Sortable/Sortable.js"></script>
<script type="module" src="/static/js/group-edit.js"></script>

{% endblock content %}