{% extends "/layouts/base.html" %}

{% block title %} Csoportkör-tippek {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Group bets</h3>
            </div>
        </div>
        <script src="https://sortablejs.github.io/Sortable/Sortable.js"></script>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">
                        <div>Staring bet credit amount: {{bet_values.starting_bet_amount}}</div>

                        <div>
                            <div style="display: inline-block;">Tournament bet :</div>

                            <select name="teamSelect" id="teamSelect" style="display: inline-block;"> </select>
                            <select name="resultSelect" id="resultSelect" style="display: inline-block;"> </select>
                            <label for="finalResultOdd" style="padding-left: 1em;">Odd: </label>
                            <div id="finalResultOdd" style="display: inline-block;"></div>
                            <a href="./tournament-odds">(tabular form)</a>

                            <label for="finalResultBet" style="padding-left: 1em;">Bet: </label>
                            <input id="finalResultBet" style="display: inline-block;" type="number" min="0" max="200" size="3" value="{{tournament_bet.bet}}">

                            <label for="expectedWinAmount" style="padding-left: 1em;">Expected prize: </label>
                            <div style="display: inline-block;" id="expectedWinAmount"> </div>
                        </div>                        
                        
                        <div>Set the order of the group by dragging!</div>
                        {% for group_id, group in groups.items() %}
                            <div id="{{group_id}}" class="row" style="width: 26em;">
                                <h4 class="col-12" style="display:inline;">Group - {{group_id}}</h4>

                                <div id="example4-left" class="list-group col" style="padding-left: 1em; width: 1px;">
                                    <!--div class="list-group-item" style="background-color: #b8b8b8;">Végeredmény</div-->
                                    <div class="list-group-item" style="width: 3em">1.</div>
                                    <div class="list-group-item" style="width: 3em">2.</div>
                                    <div class="list-group-item" style="width: 3em">3.</div>
                                    <div class="list-group-item" style="width: 3em">4.</div>
                                </div>

                                <div id="list-{{group_id}}" class="list-group col" style="padding-left: 2em; width: 25em;">
                                    {% for team in group.teams %}
                                        <div class="list-group-item" style="width: 20em;" data-id ="{{team.name}}">{{team.local_name}}</div>
                                    {% endfor %}
                                </div>
                            </div> 

                            <label for="bet-{{group_id}}" style="padding-left: 3em; padding-top: 1em;">Bet: </label>
                            <input type="number" size="3" value="{{group.bet}}" id="bet-{{group_id}}" name="bet-{{group_id}}" min=0 max={{max_group_bet_value}} oninput="calculateRemainingBetAmount()">
                            <br>
                        {% endfor %}

                        <div>
                            <div style="display: inline-block;">Remaining bet credit amount: </div>
                            <div style="display: inline-block;" id="remainingAmount">0 credit</div>
                        </div>

                        <div style="padding-left:1em; color:red;" id="errorMessage">
                            
                        </div>

                        <button type="button" id="sendButton">Send</button> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {% set champion = 'Champion' %}
    {% set finalist = 'Finalist' %}
    {% set semi_final = 'Semi-finalist' %}
    {% set knockout = 'Knockout-stage' %}

    {% set final_team = 'Invalid team for tournament  bet.' %}
    {% set final_result = 'Invalid tournament bet.' %}
    {% set tournament_bet_message = 'Invalid bet amount at tournament bet.' %}
    {% set group_bet = 'Invalid bet amount at group bet.' %}
    {% set group_id = 'Invalid group id.' %}
    {% set group_team = 'Invalid team name at the group bet.' %}
    
    {% set bet_unit = 'credit' %}
    {% set communication_error = 'Error communicating with the server.' %}

    {% include "/common/group_edit.js" %}

{% endblock javascripts %}
