{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {% if message == 'username_null' %}
                Username/nickname is required.
            {% elif message == 'username_short' %}
                Chosen nickname is too short. (Min. 3 characters.)
            {% elif message == 'username_long' %} 
                Chosen nickname is too short. (Max. 20 characters.)
            {% elif message == 'name_null' %}
                Name is required.
            {% elif message == 'name_short' %}
                Name is too short.
            {% elif message == 'email_null' %}
                E-mail address is required.
            {% elif message == 'password_null' %}
                Password is required.
            {% elif message == 'password_short' %}
                Password is too short.
            {% elif message == 'password_differ' %}
                The two password are not identical.
            {% elif message == 'invalid_invitation' %}
                The invitation is not valid.
            {% elif message == 'username_taken' %}
                The chosen nickname is already taken.
            {% elif message == 'email_taken' %}
                The chosen email adddress is already taken.
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}