{% extends "/layouts/base.html" %}
{% import "/includes/alert.html" as alert %}
{% import "/includes/match-modal.html" as match_modal %}
{% import "/group-bet/tournament-bet.html" as tournament_bet_template %}

{% block title%}{% trans %}Admin{% endtrans %}{% endblock %}

{% set active_nav_index = 5 %}

{% block header %}
<link rel="stylesheet" href="/static/css/list-style.css">
{% endblock header %}

{% block content %}
    <div class="container">
        {{alert.flashed_alert()}}

        {{alert.alert_template(['alert-danger', 'alert-dismissible'], gettext('Failure!'), '', 'danger')}}
        {{alert.alert_template(['alert-success', 'alert-dismissible'], gettext('Success!'), '', 'success')}}
        {{alert.alertStrings()}}
        <div id="alertNode"></div>

        <div class="accordion" id="myAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">{% trans %}Match-data modifying{% endtrans %}</button>									
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                    <div class="card-body ms-3 mt-3 me-3">
                        <div class="container">
                            <div class="mb-3">
                                <button class="btn btn-primary btn-sm" type="submit" id="matchUpdateSend">{% trans %}Update match data from fixture{% endtrans %}</button>
                            </div>

                            <div class="row mb-3 text-center">
                                <div class="col-1 themed-grid-col0 d-flex align-items-center justify-content-center"><div class="ms-3">#</div></div>
                                <div class="col-3 col-sm-2 themed-grid-col0 d-flex align-items-center justify-content-center">{% trans %}Time{% endtrans %}</div>
                                <div class="col-5 col-sm-3 themed-grid-col0 d-flex align-items-center justify-content-center">{% trans %}Teams{% endtrans %}</div>
                                <div class="col-2 themed-grid-col0 d-flex align-items-center justify-content-center d-none d-sm-block">1 / X / 2</div>
                                <div class="col-1 col-sm-2 themed-grid-col0 d-flex align-items-center justify-content-center">{% trans %}Result{% endtrans %}</div>
                                <div class="col-2 themed-grid-col0 d-flex align-items-center justify-content-center d-none d-sm-block">{% trans %}Max credit{% endtrans %}</div>
                                <div class="col-2 themed-grid-col0 d-flex align-items-center justify-content-center d-block d-sm-none d-md-none d-lg-none d-xl-none">{% trans %}Cr.{% endtrans %}</div>
                            </div>
                            {% set ns = namespace(row=1) %}

                            {% for match in matches %}            
                            {% set ns.row = (ns.row) % 2 + 1 %}
                            <div class="row mb-3 text-center">            
                                <div class="col-1 themed-grid-col{{ns.row}} d-flex align-items-center justify-content-center"><button type="button" class="btn btn-primary btn-sm ms-3" data-bs-toggle="modal" data-bs-target="#matchModal" id="{{match.id}}">{{match.id}}</button></div>
                                <div class="col-3 col-sm-2 themed-grid-col{{ns.row}} d-flex align-items-center justify-content-center">{{match.datetime}}</div>
                                <div class="col-5 col-sm-3 themed-grid-col{{ns.row}} d-flex align-items-center justify-content-center">{{match.team1|d_none(gettext('unknown'))}} - {{match.team2|d_none(gettext('unknown'))}}</div>
                                <div class="col-2 themed-grid-col{{ns.row}} d-flex align-items-center justify-content-center d-none d-sm-block">{{match.odd1|d_round('?')}} / {{match.oddX|d_round('?')}} / {{match.odd2|d_round('?')}}</div>
                                <div class="col-1 col-sm-2 themed-grid-col{{ns.row}} d-flex align-items-center justify-content-center"><span class="badge bg-{{'success' if match.goal1 is not none else 'info'}}">{{match.goal1|d_none('?')}}-{{match.goal2|d_none('?')}}</span></div>
                                <div class="col-2 themed-grid-col{{ns.row}} d-flex align-items-center justify-content-center">{{match.max_bet}}</div>
                            </div>
                        {% endfor %}
                        </div>
                        {{match_modal.modal(true)}}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">{% trans %}Home page messages{% endtrans %}</button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">                    
                    <div class="card-body">
                        <div class="container mt-3">
                            {% for message in messages %}
                            <div class="mb-3">
                                <label for="messsageArea{{message.id}}" class="form-label">{{gettext('Registering message') if loop.index0 == 0 else gettext('Message %(message_id)s', message_id=message.id)}}</label>
                                <textarea class="form-control" name="message" rows="1">{{message.message}}</textarea>
                            </div>                        
                            {% endfor %}
                            <button class="btn btn-primary btn-sm mt-3 mb-2" type="button" id="messageSet">{% trans %}Set{% endtrans %}</button> 
                        </div>                        
                    </div>
                </div>
            </div>
{% if config['DIRECT_MESSAGING'] > 0 %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">{% trans %}Sending message to users{% endtrans %}</button>                     
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                    <div class="container card-body mt-3">
                        <div class="container">
                            <div class="mb-3">
                                <button class="btn btn-primary btn-sm" type="submit" id="standingsSend">{% trans %}Sending standings immediately{% endtrans %}</button>
                            </div>

                            <div class="mb-3">
                                <label for="notificationSubject" class="form-label">{% trans %}Subject{% endtrans %}</label>
                                <input class="form-control" id="notificationSubject">
                            </div>
                            <div class="mb-3">
                                <label for="notificationText" class="form-label">{% trans %}Message{% endtrans %}</label>
                                <textarea class="form-control" id="notificationText" rows="3"></textarea>
                            </div>
                            <button class="btn btn-primary btn-sm mt-2 mb-2" type="button" id="notificationSend">{% trans %}Send{% endtrans %}</button> 
                        </div>                        
                    </div>
                </div>
            </div>
{% endif %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingStandings">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseStandings">{% trans %}Generate standings email{% endtrans %}</button>
                </h2>
                <div id="collapseStandings" class="accordion-collapse collapse" data-bs-parent="#myAccordion">                    
                    <div class="card-body">
                        <div class="container mt-3">
                            <button class="btn btn-primary btn-sm mt-0 mb-2" type="button" id="generateStandings">{% trans %}Generate{% endtrans %}</button> 

                            <div class="container mt-3">
                                <label>{% trans %}Email adresses{% endtrans %}</label>
                                <div class="list-group list-group-flush border-bottom scrollarea bg-secondary user-select-all" id="emailText"></div>
                                <label class="mt-2">{% trans %}Standings{% endtrans %}</label>
                                <div class="list-group list-group-flush border-bottom scrollarea bg-secondary user-select-all" id="standingsText"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">{% trans %}Group result evaluation{% endtrans %}</button>                     
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                    <div class="card-body">
                        <div class="container">
                            <div class="row d-flex justify-content-center ">
                                <div class="row col-12 col-md-8">
                                    {% for group_id, group in groups.items() %}
                                    {% if loop.first %}
                                    <h4 class="row mt-5 mb-2 d-flex justify-content-left">{% trans %}Set the order of the groups by dragging!{% endtrans %}</h4>
                                    {% endif %}

                                    <div class="row d-flex justify-content-center">
                                        <h4 class="row col-12 justify-content-left">{% trans %}Group{% endtrans %} - {{group_id}}</h4>
                                        <div class="row mb-3 d-flex justify-content-start" name="sortableGroup" value="{{group_id}}">
                                            <div class="list-group col-1 ms-3">
                                                <div class="list-group-item bg-secondary d-flex justify-content-center">P</div>
                                            {% for team in group %}
                                                <div class="list-group-item d-flex justify-content-center">{{loop.index}}.</div>
                                            {% endfor %}
                                            </div>
                        
                                            <div class="list-group col-8 col-md-6 ms-3">
                                                <div class="list-group-item bg-secondary">{% trans %}Result{% endtrans %}</div>
                                                <div id="sortableOrder">
                                                    {% for team in group %}
                                                    <div class="list-group-item" data-id ="{{team.name}}">{{team.local_name}}</div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if loop.last %}
                                    <button class="btn btn-primary btn-sm ms-3 mt-2 mb-1 col-2" type="button" id="groupSend">{% trans %}Send{% endtrans %}</button> 
                                    <script src="https://sortablejs.github.io/Sortable/Sortable.js"></script>
                                    {% endif %}
                                    {% else %}
                                    <h6 class="row mt-3 ms-2 mb-3">{% trans %}Group evaluation will take place later.{% endtrans %}</h6>
                                    {% endfor %}
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">{% trans %}Tournament result evaluation{% endtrans %}</button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                    <div class="card-body">
                        <div class="container">
                        {% for tournament_bet in tournament_bets %} 
                            <div class="row ms-3 mt-2">
                                <div class="col-1">{{loop.index}}</div>
                                <div class="col-3 col-md-2">{{tournament_bet.username}}</div>
                                <div class="col-3 col-md-2" id="result-{{loop.index}}">{{tournament_bet_template.name_map[tournament_bet.result]}}</div>
                                <select class="col-3 col-md-2" name="tournamentBet" data-user="{{tournament_bet.username}}">
                                    <option value=""  {% if tournament_bet.success is none %} selected {% endif %}>{% trans %}Undetermined{% endtrans %}</option>
                                    <option value="1"  {% if tournament_bet.success == 1 %} selected {% endif %}>{% trans %}Successful{% endtrans %}</option>
                                    <option value="0"  {% if tournament_bet.success == 0 %} selected {% endif %}>{% trans %}Failed{% endtrans %}</option>
                                </select>
                            </div>
                            {% if loop.last %}
                            <button class="btn btn-primary btn-sm ms-3 mt-3 mb-1" type="button" id="tournamentSend">{% trans %}Send{% endtrans %}</button> 
                            {% endif %}
                        {% else %}
                        <h6 class="row mt-3 ms-2 mb-3">{% trans %}Tournament bet evaluation will take place later.{% endtrans %}</h6>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">{% trans %}Team-data initialization{% endtrans %}</button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                    <div class="card-body">
                        <div class="container">
                            <div class="row ms-2 mt-2">
                                <label class="col-2" for="team">{% trans %}Team description{% endtrans %}</label>
                                <input class="col-3" type=file name="team" id="teamFile">
                            </div>

                            <div class="row ms-2">
                                <label class="col-2" for="translation">{% trans %}Team translation{% endtrans %}</label>
                                <input class="col-3" type=file name="translation" id="translationFile">
                            </div>

                            <button class="btn btn-primary btn-sm ms-3 mt-3 mb-1" type="button" id="teamDataSend">{% trans %}Upload{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven">{% trans %}Maintenance{% endtrans %}</button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                    <div class="card-body">
                        <div class="container">
                            <div class="row ms-2 mt-2">
                                <div class="col-md-4">
                                    <label for="databaseFile">{% trans %}Database file{% endtrans %}: </label>
                                    <input type="file" name="database" id="databaseFile" accept=".sqlite">
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary btn-sm" type="button" id="databaseUpload">{% trans %}Upload{% endtrans %}</button>
                                </div>
                                <form class="col-md-2" method="GET" action="/admin/database">
                                    <button class="btn btn-primary btn-sm" type="submit">{% trans %}Download{% endtrans %}</button>
                                </form>
                            </div>
                            <div class="row ms-2 mt-2">
                                <form class="col-md-4" method="GET" action="/admin/log">
                                    <label for="logButton">{% trans %}Log-file{% endtrans %}: </label>
                                    <button class="btn btn-primary btn-sm" type="submit" id="logButton">{% trans %}Download{% endtrans %}</button>
                                </form>
                            </div>
                            <div class="row ms-2 mt-2">
                                <form class="col-md-4" method="GET" action="/admin/maintenance">
                                    <label for="logButton">{% trans %}Maintenance-mode{% endtrans %}: </label>
                                    <button class="btn btn-primary btn-sm" type="submit" id="logButton">{% trans %}Toggle{% endtrans %}</button>
                                </form>
                            </div>
                            <div class="row ms-2 mt-2">
                                <form class="col-md-4" method="GET" action="/admin/manual-daily-checker">
                                    <label for="logButton">{% trans %}Daily checker{% endtrans %}: </label>
                                    <button class="btn btn-primary btn-sm" type="submit" id="logButton">{% trans %}Initiate{% endtrans %}</button>
                                </form>
                            </div>
                            <div class="row ms-2 mt-2 mb-2">
                                <div class="">{% trans %}Scheduled tasks{% endtrans %}:</div>
                                {% for job in scheduled_jobs %}
                                <div class="ms-3">
                                    {{loop.index}} - {{job}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="passwordKeys">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePasswordKey">{% trans %}Password reset keys{% endtrans %}</button>
                </h2>
                <div id="collapsePasswordKey" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                    <div class="card-body">
                        <div class="container ms-3 mt-3 mb-3">
                            {% if reset_keys|length > 0 %}
                            <div class="row mb-3 text-center">
                                <div class="col-1 themed-grid-col0 d-flex align-items-center justify-content-center">#</div>
                                <div class="col-2 themed-grid-col0 d-flex align-items-center justify-content-center">{% trans %}Email{% endtrans %}</div>
                                <div class="col-2 themed-grid-col0 d-flex align-items-center justify-content-center">{% trans %}Expiration time{% endtrans %}</div>
                                <div class="col-6 themed-grid-col0 d-flex align-items-center justify-content-center">{% trans %}Key{% endtrans %}</div>
                            </div>
                            {% endif %}

                            {% for email, value in reset_keys.items() %}
                            <div class="row mb-3 text-center">            
                                <div class="col-1 themed-grid-col1 d-flex align-items-center justify-content-center">{{loop.index}}</div>
                                <div class="col-2 themed-grid-col1 d-flex align-items-center justify-content-center">{{email}}</div>
                                <div class="col-2 themed-grid-col1 d-flex align-items-center justify-content-center">{{value['date']}}</div>
                                <div class="col-6 themed-grid-col1 d-flex align-items-center justify-content-center">/reset-password?email={{email}}&key={{value['key']}} </div>
                            </div>
                            {% else %}
                            <div class="row ms-2 mt-2 mb-2">
                                {% trans %}No reset keys have been generated!{% endtrans %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     

    <script src="/static/js/admin.js"></script>
{% endblock content %}