{% extends "/layouts/base.html" %}
{% import "/includes/alert.html" as alert %}

{% block title%}{% trans %}Chat{% endtrans %}{% endblock %}

{% set active_nav_index = 4 %}

{% block content %}

<div class="container">
    {{alert.alert(['alert-danger', 'alert-dismissible'], gettext('Failure!'), 'danger')}}
    {{alert.alert(['alert-success', 'alert-dismissible'], gettext('Success!'), 'success', gettext('Comment posted successfully!'))}}
    {{alert.alertStrings()}}
    <div class="row d-flex justify-content-center ">
        <div class="row col-12 col-md-8" id="alertNode"></div>
    </div>

    <div class="row d-flex justify-content-center ">
        <div class="row col-12 col-md-8">
            <div class = "col-4 d-flex justify-content-start">
                <button type="button" class="btn btn-primary btn-sm" id="loadOldCommentsButton"><<</button>
            </div>
            <div class = "col-4 d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#commentModal" id="newCommentButton">{% trans %}New comment{% endtrans %}</button>
            </div>
            <div class = "col-4 d-flex justify-content-end">
                <button type="button" class="btn btn-primary btn-sm" id="loadNewCommentsButton">>></button>
            </div>
        </div>        
    </div>

    <div class="d-flex justify-content-center mt-4">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary col-12 col-md-8">
            <div class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
              <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
              <span class="fs-5 fw-semibold">Chat</span>
            </div>
            <div class="list-group list-group-flush border-bottom scrollarea" id="commentContainer">
              
            </div>
        </div>
    </div>
    
    <template id="commentTemplate">
        <div class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true" id="commentRoot">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1" id="commentHeader"></strong>
              <small id="date"></small>
            </div>
            <div class="col-10 mb-1 small" id="content">
                
            </div>
          </div>
    </template>

    <div class="modal fade" id="commentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">{% trans %}New comment{% endtrans %}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                <textarea class="form-control" rows="1" id="commentInputArea"></textarea>
                <div class="form-control mt-3" id="commentPreviewArea" rows="8" disabled></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="previewCommentButton">{% trans %}Preview{% endtrans %}</button>
              <button type="button" class="btn btn-primary" id="postCommentButton">{% trans %}Send{% endtrans %}</button>
            </div>
          </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/static/assets/js/chat.js"></script>
</div>

{% endblock content %}