{% extends "/layouts/base.html" %}

{% block title %} Kezdőoldal {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="./static/assets/css/betting.css">
{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Betting and discussing</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">
                        {% with messages = get_flashed_messages() %}
                            {% if messages  %}
                        <br>
                            <div>Üzenetek: </div>

                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                                <div style="background-color:rgb(255, 238, 0);">{{loop.index}}: {{message}}</div>
                            {% endfor %}
                        <br>
                        <br>
                            {% endif %}
                        {% endwith %}
                        
                        <p style="font-size: 20px;">Current balance: {{current_amount|round(2)}}</p>

                        <table>
                            {% set day_names = dict() %}
                            {% set dummy = day_names.update({0 : 'Monday'}) %}
                            {% set dummy = day_names.update({1 : 'Tuesday'}) %}
                            {% set dummy = day_names.update({2 : 'Wednesday'}) %}
                            {% set dummy = day_names.update({3 : 'Thursday'}) %}
                            {% set dummy = day_names.update({4 : 'Friday'}) %}
                            {% set dummy = day_names.update({5 : 'Saturday'}) %}
                            {% set dummy = day_names.update({6 : 'Sunday'}) %}

                            {% for date, day in days.items() %}
                            {%if loop.index % 12 == 1 %}
                            <table style="width:90%;margin-left:20px;background-color: lightblue">
                                <tr>
                                    <th rowspan="2" style="width: 5%;">ID</th>
                                    <th rowspan="2" style="width: 5%;">Time</th>
                                    <th rowspan="2" style="width: 25%;text-align:center;">Teams</th>
                                    <th rowspan="2" style="width: 15%;text-align:center;">Round</th>
                                    <th scope="col" colspan="3" style="text-align:center;">Odds</th> 
                                    <th rowspan="2" style="width: 8%;text-align:center;">Tip</th>
                                    <th rowspan="2" style="width: 8%;text-align:center;">Bet</th>
                                    <th rowspan="2" style="width: 8%;text-align:center;"></th>
                                </tr>

                                <th style="text-align:center;width: 3%;">1</td>
                                <th style="text-align:center;width: 3%;">X</td>
                                <th style="text-align:center;width: 3%;">2</td>
                            </table>   
                            {% endif %}

                            <div id="ID_{{day.number}}">
                                {{day.number}}. day - {{date}} - {{day_names[day.weekday]}}
                            </div>

                            <table style="width:90%;margin-left:20px;{#%if loop.index % 10 == 1 %} background:yellow; {% endif %#}">
                                <tr>
                                    <th rowspan="2" style="width: 5%;"></th>
                                    <th rowspan="2" style="width: 5%;text-align:center"></th>
                                    <th rowspan="2" style="width: 25%;text-align:center;"></th>
                                    <th rowspan="2" style="width: 15%;text-align:center;" ></th>
                                    <th scope="col" colspan="3" style="text-align:center;"></th> 
                                    <th rowspan="2" style="width: 8%;text-align:center;"></th>
                                    <th rowspan="2" style="width: 8%;text-align:center;"></th>
                                    <th rowspan="2" style="width: 8%;text-align:center;"></th>
                                </tr>

                                <th style="text-align:center;width: 3%;"></td>
                                <th style="text-align:center;width: 3%;"></td>
                                <th style="text-align:center;width: 3%;"></td>

                                {% for match in day.matches %}

                                
                                {% set background = 'white' %}

                                {% if loop.index %2 == 1 %}
                                {% set background = '#E8E8E8' %}
                                {% endif %}

                                <tr style="padding-bottom:5px;background-color:{{background}};">
                                    <td>{{match.id}}</td>
                                    <td>{{match.time}}</td>
                                    <td style="text-align:center;">{% if match.team1 =="" %} Unknown {%else%} {{match.team1}} {% endif %} - {% if match.team2 =="" %} Unknown {%else%} {{match.team2}} {% endif %}</td>
                                    <td style="text-align:center;">{{match.round}}</td>
                                    <td style="text-align:center;">{{match.odd1}}</td>
                                    <td style="text-align:center;">{{match.oddX}}</td>
                                    <td style="text-align:center;">{{match.odd2}}</td>
                                    <td style="text-align:center;">{{match.goal1}}-{{match.goal2}}</td>
                                    <td style="text-align:center;">{{match.bet}} / {{match.max_bet}}</td>
                                    <!--input type="image" src="http://example.com/path/to/image.png" /-->
                                    <td><button class="editbtn" value="{{match.id}}" onclick="redirectToEdit(this.value)">Edit</button></td>
                                </tr>

                                {% endfor %}
                            </table>
                            <br>

                        <!--/div-->
                        {% endfor %}

                        </table>                    
                        
                        {% if days|length == 0 %}
                        <div style="display: inline-block;">The betting competition has ended. </div> <div style="display: inline-block;">To see the result</div> <a href="./standings" style="display: inline-block;">click Here!</a>
                        {% endif %}
                        <div style="background-color:aquamarine;">
                            <h2 style="display: inline-flex;">Discussion</h2>
                            <div >
                                <button style="width: 20%; margin-left: 40%;" id="loadOldCommentsButton">Load older</button>
                            </div>

                            <div id="comments" style="height: 400px; overflow-y: scroll; margin-left: 5px;margin-right: 5px;">
                                
                            </div>

                            <div >
                                <button style="width: 20%; margin-left: 40%;" id="refreshCommentsButton">Refresh</button>
                            </div>

                            <br>

                            <div style="background-color: orange; margin-left: 5px; margin-right: 5px;">
                                <h4 style="margin-left: 10px;">New comment:</h4>

                                <textarea id="commentField" name="commentName" rows="5" cols="100" style="margin-left: 10px; width: 98%;"></textarea><br>

                                <button style="margin-left: 10px;margin-top: 10px; margin-bottom: 5px;" id="postCommentButton">Send</button>
                            </div>        

                        </div>                

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}

<script>
    function redirectToEdit(buttonID) {
        console.log("arg: " + buttonID);
        window.location = "./match?matchID=" + buttonID;
    }

    var url= document.location.href;
    window.history.pushState({}, "", url.split("?")[0]);
</script>

{% set invalid_data = 'Invalid data sent.' %}
{% set short_message = 'Too short message.' %}
{% set error_connection = 'Error with the communication.' %}

{% include "/common/comment.js" %}

{% endblock javascripts %}