{% extends "/layouts/base.html" %}
{% import "/includes/day-name-map.html" as day_names %}
{% import "/includes/match-modal.html" as match_modal %}

{% block title%}{% trans %}Home page{% endtrans %}{% endblock %}

{% set active_nav_index = 0 %}

{% block header %}
{% include "/includes/list-style.html" %}
{% endblock header %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                <div class="mt-3 alert alert-dismissible alert-{{category}}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong id="header">{{title}}</strong>
                    <div id="message">{{message}}</div>
                </div>
                {% endfor %}
        {% endwith %}

        {% set ns = namespace(row=1) %}

        <h5 class="mt-5 mb-5">{% trans %}Current credit{% endtrans %}: {{current_balance|round(1)}}</h5>

        {% for date, day in days.items() %}

        {% if loop.index == 1 %}
        <div class="row mb-3 ms-1 me-1 text-center">
            <div class="col-1 themed-grid-col0 d-flex align-items-center justify-content-center">#</div>
            <div class="col-2 themed-grid-col0 d-flex align-items-center justify-content-center">{% trans %}Time{% endtrans %}</div>
            <div class="col-3 themed-grid-col0 d-flex align-items-center justify-content-center">{% trans %}Teams{% endtrans %}</div>
            <div class="col-2 themed-grid-col0 d-flex align-items-center justify-content-center">1 / X / 2</div>
            <div class="col-2 themed-grid-col0 d-flex align-items-center justify-content-center">{% trans %}Tip{% endtrans %}</div>
            <div class="col-2 themed-grid-col0 d-flex align-items-center justify-content-center">{% trans %}Bet{% endtrans %}</div>
        </div>
        {% endif %}

        <div class="row mb-3 text-left">
            <div class="col-8 themed-grid-col">{{day.number}}. {% trans %}day{% endtrans %} - {{date}} - {{day_names.day_name_map[day.weekday]}}</div>
            <div class="col-4 themed-grid-col"></div>
        </div>
            {% for match in day.matches %}            
            {% set ns.row = (ns.row) % 2 + 1 %}
        <div class="row mb-3 ms-1 me-1 text-center">            
            <div class="col-1 themed-grid-col{{ns.row}} d-flex align-items-center justify-content-center"><button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#matchModal" id="{{match.id}}">{{match.id}}</button></div>
            <div class="col-2 themed-grid-col{{ns.row}} d-flex align-items-center justify-content-center">{{match.time}}</div>
            <div class="col-3 themed-grid-col{{ns.row}} d-flex align-items-center justify-content-center">{{match.team1}} - {{match.team2}}</div>
            <div class="col-2 themed-grid-col{{ns.row}} d-flex align-items-center justify-content-center">{{match.odd1|d_none('?')}} / {{match.oddX|d_none('?')}} / {{match.odd2|d_none('?')}}</div>
            <div class="col-2 themed-grid-col{{ns.row}} d-flex align-items-center justify-content-center"><span class="badge bg-{{'success' if match.goal1 is not none else 'danger'}}">{{match.goal1|d_none('?')}}-{{match.goal2|d_none('?')}}</span></div>
            <div class="col-2 themed-grid-col{{ns.row}} d-flex align-items-center justify-content-center">{{match.bet|d_none('0')}} / {{match.max_bet}}</div>
        </div>
            {% endfor %}

        {% else %}
        <h3>{% trans %}The competition has ended! Please check out the results!{% endtrans %}</h3>
        {% endfor %}
    </div>

    {{match_modal.modal(false)}}
  
{% endblock content %}