{% extends "/layouts/base.html" %}

{% block title %} Blank Page {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Betting</h3>
            </div>
        </div>

        {% set day_names = dict() %}
        {% set dummy = day_names.update({0 : 'Monday'}) %}
        {% set dummy = day_names.update({1 : 'Tuesday'}) %}
        {% set dummy = day_names.update({2 : 'Wednesday'}) %}
        {% set dummy = day_names.update({3 : 'Thursday'}) %}
        {% set dummy = day_names.update({4 : 'Friday'}) %}
        {% set dummy = day_names.update({5 : 'Saturday'}) %}
        {% set dummy = day_names.update({6 : 'Sunday'}) %}

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">
                        <form action="./match" method="POST" id="betForm" name="betForm">
                            <div style="font-weight: bold;"> {{match.id}}. match ({{match.date}} - {{day_names[match.day_id]}} {{match.time}}) - Round:  {{match.type}} </div>
                            <br>
                            <div style="display: inline-block;">Tip:</div>
                            <div style="display: inline-block;padding-left: 1em;">
                                {{match.team1}}
                            </div>

                            <div style="display: inline-block;">
                                <input type="number" size="2" min="0" max="30" value="{{match.goal1}}" name="goal1" form="betForm"/>
                            </div>
                            -
                            <div style="display: inline-block;">
                                <input type="number" size="2" min="0" max="30" value="{{match.goal2}}" name="goal2" form="betForm"/>
                            </div>

                            <div style="display: inline-block;">
                                {{match.team2}}
                            </div>

                            <div style="display: inline-block;padding-left: 5em;">
                                <div style="background-color: rgb(240, 220, 182);">
                                    Odds: 
                                    <div style="display: inline-block; padding-left: 3em;">
                                        1: {{match.odd1}}
                                    </div>

                                    <div style="display: inline-block; padding-left: 3em;">
                                        X: {{match.oddX}}
                                    </div>

                                    <div style="display: inline-block; padding-left: 3em;">
                                        2: {{match.odd2}}
                                    </div>
                                </div>
                            </div>

                            <div>
                                <br>
                                <label>Bet: </label>
                                <input type="number" size="3" value="{{match.bet}}" name="bet" min="0" max="{{match.max_bet}}" form="betForm"/>
                                <div style="display: inline-block;"> / {{match.max_bet}}</div>
                            </div>


                            <div style="padding-left:1em; color:red;">
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message == 'invalid_goal' %}
                                        Invalid goal value!
                                        {% elif message == 'invalid_bet' %}
                                        Invalid bet value!
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>

                            <br>

                            <input type="hidden" id="matchID" name="matchID" value="{{match.ID}}"> 
                            <input type="submit" value="Beküld" form="betForm">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
