{% extends "/layouts/base.html" %}

{% block title %}{% trans %}Standings{% endtrans %}{% endblock title %}

{% set active_nav_index = 2 %}

{% block content %}

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">{% trans %}Position{% endtrans %}</th>
            <th scope="col">{% trans %}Icon{% endtrans %}</th>
            <th scope="col">{% trans %}Username{% endtrans %}</th>
            <th scope="col">{% trans %}Score{% endtrans %}</th>
            <th scope="col">{% trans %}Score change{% endtrans %}</th>
            <th scope="col">{% trans %}Position change{% endtrans %}</th>
          </tr>
        </thead>
        <tbody>
            {% for standing in standings %}
            <tr>
                <th scope="row">{{loop.index}}.</th>
                <td><img src="{{standing.image_path}}" alt="" style="width:48px; height:auto;"></td>
                <td>{{standing.username}}</td>
                <td>{{standing.point|round(1)}}</td>
                <td>{{(standing.point - standing.previous_point)|round(1)}}</td>
                <td>{{standing.position_diff}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="chartContainer" data-title="{% trans %}History of standings{% endtrans %}" data-unit="{% trans %}credit{% endtrans %}"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="/static/js/standings.js"></script>
</div>

{% endblock content %}